mkdocs==1.6.1
# Strict mode has been disabled in latest versions of mkdocs-material.
# Thus pointing to the older version of mkdocs-material.
mkdocs-material==7.3.6
markdown_include==0.8.1
pygments==2.15.0
jinja2==3.1.5
markdown==3.8
pymdown-extensions==10.14.3
